/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/Giant_FortuneCookies.jpg);
    background-size: auto;
   
    
}

.fortune-cookie-saying-wrapper {
    border: 3px solid gray;
    padding: 1em;
    margin: 1em;
    background-image: url("http://www.fancyfortunecookies.com/v/vspfiles/assets/images/flavored-fortune-cookies-assortment.jpg");
    border-style: outset;
    background-repeat: auto;
}

.generate-button {
    border:  3px solid gray;
    background-color: yellow;
    border-style: outset;
    width: 300px;
    height: 30px;
}

#fortune-cookie-text {
    text-emphasis: bold;
    font-weight: bold;
}